/* цвет основного текста #212121 */

/* вторичный цвет текста  #757575 */

/* белый цвет  #FFFFFF */

/* акцент #2196F3 */

/* адрес #FFFFFF60 % */

/* вторичный цвет фона #F5F4FA */

/* цвет герой, футер  #2F303A */

body {
  color: #212121;
  background-color: #fff;
}

ul {
  list-style: none;
}

.logo {
  color: #212121;
}

.accent-logo {
  color:#2196F3;
}