:root {
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --hero-footer-bgcolor: #2F303A; 
  --white-color: #FFFFFF;
  --secondary-text-color: #757575;
}

/* цвет основного текста #212121 */

/* вторичный цвет текста  #757575 */

/* белый цвет  #FFFFFF */

/* акцент #2196F3 */

/* адрес #FFFFFF60 % */

/* вторичный цвет фона #F5F4FA */

/* цвет герой, футер  #2F303A */

body {
  color: var(--primary-text-color);
  background-color: #fff;
}

ul {
  list-style: none;
}

.logo {
  color: var(--primary-text-color);
}

.accent-logo {
  color: var(--accent-color);
}


/* Nav */
.nav .link {
  color: var(--primary-text-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}


/* Герой */
.hero-title {
  color: var(--white-color);
  background-color: var(--hero-footer-bgcolor);
}


/* Section  */
.section-title {
  color: var(--primary-text-color);
}

.section-text {
  color: var(--secondary-text-color);
}